@model DevProfile

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow ">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DevJobMatcher</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item mx-3 text-center">
                        <a class="nav-link  text-white btn btn-primary" asp-area="" asp-controller="Home"
                            asp-action="logOut">LogOut</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


    <div class="main">

        <nav class="bg-primary">
            <h1 class="text-center p-3">Add your Skills</h1>
        </nav>
        <main>
            @* Languages that you chose will be despayed here *@

            <div class="row">

                <div class="col-sm-1"></div>
                <h1 class="col-sm-5">Pick your Top 5 language</h1>
                <div class="col-sm-5" id="selected-languages-container"></div>
                <div class="col-sm-1"></div>

            </div>
            <div class="row">

                @* All the languages you can chose *@
                <div id="languages-container" class="col-sm-5 mh-100 m-4" style="height: 450px; ">

                        @foreach (var skill in Skill.Skills)
                        {
                            <div class="language-item" onclick="selectLanguage(@skill.Code, this)" data-skill-code="@skill.Code" id="skill-@skill.Code"
                            class="text-center">
                                <div class="image-container">
                                    <img src="@skill.Image" class="img-fluid" alt="" />
                                </div>
                                <label class="" for="">@skill.Name</label>
                            </div>
                        }

                </div>

                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <h2>Short Bio</h2>
                    <form onsubmit="onJobNoticeFormSubmit(event)" id="job-notice-form" action="AddJobNotice" method="post">
                    
                        <textarea name="Description" id="" cols="75" rows="15"></textarea>
                        
                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                            <button type="submit" class="btn btn-primary btn-lg">Complete Work Notice</button>
                        </div>

                    </form>

                </div>
            </div>
            <div class="row ">
                <div class="col-sm-6"></div>
                <div class="col-sm-6 text-center">

                    

                </div>
            </div>
        </main>
    </div>
