<div class="row">
    <div class="col-sm-6">
        <partial name="RegisterPartialDev"></partial>
    </div>
    <div class="col-sm-6">
         <partial name="LoginPartialDev"></partial>
    </div>
</div>