<div class="row">
    <div class="col-sm-6">
        <partial name="RegisterPartialCompany"></partial>
    </div>
    <div class="col-sm-6">
         <partial name="LoginPartialCompany"></partial>
    </div>
</div>