@model Job


<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item mx-3 text-center">
                        <a class="nav-link  text-white btn btn-primary" asp-area="" asp-controller="Company"
                            asp-action="logOut">LogOut</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>



<form onsubmit="onJobCreationFormSubmit(event)" action="/CreatePosition" method="post">

    <div class="d-flex flex-row align-items-center mb-4">
        <div class="form-outline flex-fill mb-0">
            <input asp-for="Name" class="form-control" />
            <label class="form-label" asp-for="Name"></label>
            <span asp-validation-for="Name"></span>
        </div>
    </div>

    <div class="d-flex flex-row align-items-center mb-4">
        <div class="form-outline flex-fill mb-0">
            <input asp-for="Description" class="form-control" />
            <label class="form-label" asp-for="Description"></label>
            <span asp-validation-for="Description"></span>
        </div>
    </div>

    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
        <button type="submit" class="btn btn-primary btn-lg">Add Position</button>
    </div>

</form>

<div id="languages-container" class="col-sm-5 mh-100 m-4" style="height: 450px; ">

    @foreach (var skill in Skill.Skills)
    {
        <div class="language-item" onclick="selectLanguageJob(@skill.Code, this)" data-skill-code="@skill.Code" id="skill-@skill.Code">
            <div class="image-container">
                <img src="/@skill.Image" class="img-fluid" alt="" />
            </div>
            <label class="" for="">@skill.Name</label>
        </div>
    }

</div>