@model Company
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light p-2">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Company" asp-action="CompanyIndex">DevJobMatcher</a>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-white btn btn-primary" asp-area="" asp-controller="Home"
                        asp-action="LoginDev">Go to Developer Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="body">
    <div class="container">
        <form id="login-form" action="/RegisterCompany" method="post">
            <div class="form-content">
                <div class="signup-form">
                    <div class="title">Company Register</div>
                    <div class="input-boxes">
                        <div class="input-box">
                            <input class="login-form-input" asp-for="CampanyName" placeholder="Enter Company name" />
                            <span class="text-danger" asp-validation-for="CampanyName"></span>
                        </div>
                        <div class="input-box">
                            <input class="login-form-input" asp-for="FirstName" placeholder="Enter your first name" />
                            <span class="text-danger" asp-validation-for="FirstName"></span>
                        </div>
                        <div class="input-box">
                            <input asp-for="LastName" class="login-form-input" placeholder="Enter your last name" />
                            <span class="text-danger" asp-validation-for="LastName"></span>
                        </div>
                        <div class="input-box">
                            <input class="login-form-input" asp-for="Email" placeholder="Enter your email" />
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                        <div class="input-box">
                            <input class="login-form-input" asp-for="Address" placeholder="Enter your address" />
                            <span class="text-danger" asp-validation-for="Address"></span>
                        </div>
                        <div class="input-box">
                            <input class="login-form-input" asp-for="City" placeholder="Enter your city" />
                            <span class="text-danger" asp-validation-for="City"></span>
                        </div>
                        <div class="input-box">
                            <input class="login-form-input" asp-for="Password" placeholder="Enter your password" />
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div class="input-box">
                            <input asp-for="Confirm" class="login-form-input" placeholder="Confirm your password" />
                            <span class="text-danger" asp-validation-for="Confirm"></span>
                        </div>
                        <div class="text">Already an account?<a class="links" asp-controller="Company"
                                asp-action="LoginCompany">Log In now</a>
                        </div>
                        <button type="submit" class="login-button">Sign up</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
